<div class="navbar-header">

    <div class="logo">
       <!-- <span class="logo-icon">S</span>-->
        <span class="logo-text">SMSF</span>
    </div>

    <button md-button class="toggle-button-navbar mat-icon-button" smsfNavbar="toggleFold" fxHide.lt-lg>
        <md-icon>menu</md-icon>
    </button>

    <button md-button class="toggle-button-navbar mat-icon-button" smsfNavbar="closeBar" fxHide.gt-md>
        <md-icon>arrow_back</md-icon>
    </button>

</div>

<div class="navbar-content" perfect-scrollbar>
    <smsf-navigation></smsf-navigation>
</div>
