
/*!
 * Waves effect
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none
}
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45)
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7)
}
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7)
}
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7)
}
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7)
}
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7)
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7)
}
.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}
.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none
}
.waves-block {
    display: block
}
a.waves-effect .waves-ripple {
    z-index: -1
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity
}
@media only screen and (max-width: 992px) {
    .modal {
        width: 80%
    }
}
.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin-top: 0
}
.modal .modal-content {
    padding: 24px
}
.modal .modal-close {
    cursor: pointer
}
.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%
}
.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat {
    float: right;
    margin: 6px 0
}
.lean-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity
}
.modal.modal-fixed-footer {
    padding: 0;
    height: 70%
}
.modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto
}
.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0
}
.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity
}
.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0
}
.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd
}
.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem
}
.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.collapsible-body p {
    margin: 0;
    padding: 2rem
}
.side-nav .collapsible {
    border: none;
    box-shadow: none
}
.side-nav .collapsible li {
    padding: 0
}
.side-nav .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    margin: 0 1rem
}
.side-nav .collapsible-header i {
    line-height: inherit
}
.side-nav .collapsible-body {
    border: 0;
    background-color: #fff
}
.side-nav .collapsible-body li a {
    margin: 0 1rem 0 2rem
}
.collapsible.popout {
    border: none;
    box-shadow: none
}
.collapsible.popout>li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0 24px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.collapsible.popout>li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4
}
.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%
}
.chip i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px
}
.materialboxed {
    display: block;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    transition: opacity 0.4s
}
.materialboxed:hover {
    will-change: left, top, width, height
}
.materialboxed:hover:not(.active) {
    opacity: .8
}
.materialboxed.active {
    cursor: zoom-out
}
#materialbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292929;
    z-index: 999;
    will-change: opacity
}
.materialbox-caption {
    position: fixed;
    display: none;
    color: #fff;
    line-height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0% 15%;
    height: 50px;
    z-index: 1000;
    -webkit-font-smoothing: antialiased
}
select:focus {
    outline: 1px solid #fff
}
button:focus {
    outline: none;
    background-color: #0baf55
}
label {
    font-size: 0.8rem;
    color: #9e9e9e
}
::-webkit-input-placeholder {
    color: #d1d1d1
}
:-moz-placeholder {
    color: #d1d1d1
}
::-moz-placeholder {
    color: #d1d1d1
}
:-ms-input-placeholder {
    color: #d1d1d1
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s
}
input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26)
}
input[type=text]:disabled+label,
input[type=text][readonly="readonly"]+label,
input[type=password]:disabled+label,
input[type=password][readonly="readonly"]+label,
input[type=email]:disabled+label,
input[type=email][readonly="readonly"]+label,
input[type=url]:disabled+label,
input[type=url][readonly="readonly"]+label,
input[type=time]:disabled+label,
input[type=time][readonly="readonly"]+label,
input[type=date]:disabled+label,
input[type=date][readonly="readonly"]+label,
input[type=datetime-local]:disabled+label,
input[type=datetime-local][readonly="readonly"]+label,
input[type=tel]:disabled+label,
input[type=tel][readonly="readonly"]+label,
input[type=number]:disabled+label,
input[type=number][readonly="readonly"]+label,
input[type=search]:disabled+label,
input[type=search][readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgba(0, 0, 0, 0.26)
}
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0baf55;
    box-shadow: 0 1px 0 0 #0baf55
}
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #0baf55
}
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #00E676;
    box-shadow: 0 1px 0 0 #00E676
}
input[type=text].valid+label:after,
input[type=text]:focus.valid+label:after,
input[type=password].valid+label:after,
input[type=password]:focus.valid+label:after,
input[type=email].valid+label:after,
input[type=email]:focus.valid+label:after,
input[type=url].valid+label:after,
input[type=url]:focus.valid+label:after,
input[type=time].valid+label:after,
input[type=time]:focus.valid+label:after,
input[type=date].valid+label:after,
input[type=date]:focus.valid+label:after,
input[type=datetime-local].valid+label:after,
input[type=datetime-local]:focus.valid+label:after,
input[type=tel].valid+label:after,
input[type=tel]:focus.valid+label:after,
input[type=number].valid+label:after,
input[type=number]:focus.valid+label:after,
input[type=search].valid+label:after,
input[type=search]:focus.valid+label:after,
textarea.materialize-textarea.valid+label:after,
textarea.materialize-textarea:focus.valid+label:after {
    content: attr(data-success);
    color: #00E676;
    opacity: 1
}
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #FF1744;
    box-shadow: 0 1px 0 0 #FF1744
}
input[type=text].invalid+label:after,
input[type=text]:focus.invalid+label:after,
input[type=password].invalid+label:after,
input[type=password]:focus.invalid+label:after,
input[type=email].invalid+label:after,
input[type=email]:focus.invalid+label:after,
input[type=url].invalid+label:after,
input[type=url]:focus.invalid+label:after,
input[type=time].invalid+label:after,
input[type=time]:focus.invalid+label:after,
input[type=date].invalid+label:after,
input[type=date]:focus.invalid+label:after,
input[type=datetime-local].invalid+label:after,
input[type=datetime-local]:focus.invalid+label:after,
input[type=tel].invalid+label:after,
input[type=tel]:focus.invalid+label:after,
input[type=number].invalid+label:after,
input[type=number]:focus.invalid+label:after,
input[type=search].invalid+label:after,
input[type=search]:focus.invalid+label:after,
textarea.materialize-textarea.invalid+label:after,
textarea.materialize-textarea:focus.invalid+label:after {
    content: attr(data-error);
    color: #FF1744;
    opacity: 1
}
input[type=text]+label:after,
input[type=password]+label:after,
input[type=email]+label:after,
input[type=url]+label:after,
input[type=time]+label:after,
input[type=date]+label:after,
input[type=datetime-local]+label:after,
input[type=tel]+label:after,
input[type=number]+label:after,
input[type=search]+label:after,
textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out
}
.input-field {
    position: relative;
    margin-top: 1rem
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out
}
.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%)
}
.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s
}
.input-field .prefix.active {
    color: #0baf55
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}
.input-field .prefix ~ textarea {
    padding-top: .8rem
}
.input-field .prefix ~ label {
    margin-left: 3rem
}
@media only screen and (max-width: 992px) {
    .input-field .prefix ~ input {
        width: 86%;
        width: calc(100% - 3rem)
    }
}
@media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
        width: 80%;
        width: calc(100% - 3rem)
    }
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem)
}
.input-field input[type=search]:focus {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    color: #444
}
.input-field input[type=search]:focus+label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
    color: #444
}
.input-field input[type=search]+label {
    left: 1rem
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color
}
textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent
}
textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    min-height: 3rem
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden
}
[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: 0.28s ease;
    -moz-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    -ms-transition: 0.28s ease;
    transition: 0.28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}
[type="radio"]+label:before,
[type="radio"]+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: 0.28s ease;
    -moz-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    -ms-transition: 0.28s ease;
    transition: 0.28s ease
}
[type="radio"]:not(:checked)+label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a
}
[type="radio"]:not(:checked)+label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}
[type="radio"]:checked+label:before {
    border-radius: 50%;
    border: 2px solid transparent
}
[type="radio"]:checked+label:after {
    border-radius: 50%;
    border: 2px solid #ff4081;
    background-color: #ff4081;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02)
}
[type="radio"].with-gap:checked+label:before {
    border-radius: 50%;
    border: 2px solid #ff4081
}
[type="radio"].with-gap:checked+label:after {
    border-radius: 50%;
    border: 2px solid #ff4081;
    background-color: #ff4081;
    z-index: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5)
}
[type="radio"].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, 0.26)
}
[type="radio"].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:not(:checked)+label:before,
[type="radio"]:disabled:checked+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled+label {
    color: rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, 0.26)
}
[type="radio"]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: #BDBDBD
}
form p {
    margin-bottom: 10px;
    text-align: left
}
form p:last-child {
    margin-bottom: 0
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}
[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s
}
[type="checkbox"]:not(:checked):disabled+label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26)
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #0baf55;
    border-bottom: 2px solid #0baf55;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
[type="checkbox"]:checked:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26)
}
[type="checkbox"]:indeterminate+label:before {
    left: -10px;
    top: -11px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #ff4081;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
[type="checkbox"]:indeterminate:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    background-color: transparent
}
[type="checkbox"].filled-in+label:after {
    border-radius: 2px
}
[type="checkbox"].filled-in+label:before,
[type="checkbox"].filled-in+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1
}
[type="checkbox"].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%
}
[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0
}
[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
[type="checkbox"].filled-in:checked+label:after {
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #ff4081;
    background-color: #ff4081;
    z-index: 0
}
[type="checkbox"].filled-in:disabled:not(:checked)+label:before {
    background-color: transparent;
    border: 2px solid transparent
}
[type="checkbox"].filled-in:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #BDBDBD
}
[type="checkbox"].filled-in:disabled:checked+label:before {
    background-color: transparent
}
[type="checkbox"].filled-in:disabled:checked+label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD
}
.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}
.switch label {
    cursor: pointer
}
.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #f7c7d8
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff4081
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease
}
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(255, 64, 129, 0.1)
}
input[type=checkbox]:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08)
}
.switch label input[type=checkbox]:checked+.lever:after {
    left: 24px
}
.switch input[type=checkbox][disabled]+.lever {
    cursor: default
}
.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #BDBDBD
}
.select-label {
    position: absolute
}
.select-wrapper {
    position: relative
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px
}
.select-wrapper span.caret.disabled {
    color: rgba(0, 0, 0, 0.26)
}
.select-wrapper+label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem
}
select {
    display: none
}
select.browser-default {
    display: block
}
select:disabled {
    color: rgba(0, 0, 0, 0.3)
}
.select-wrapper input.select-dropdown:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}
.select-wrapper i {
    color: rgba(0, 0, 0, 0.3)
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent
}
.select-dropdown li img {
    height: 25px;
    width: 25px;
    margin: 5px 15px;
    float: right
}
.select-dropdown li.optgroup {
    border-top: 1px solid #eee
}
.select-dropdown li.optgroup.selected>span {
    color: rgba(0, 0, 0, 0.7)
}
.select-dropdown li.optgroup>span {
    color: rgba(0, 0, 0, 0.4)
}
.select-dropdown li.optgroup ~ li:not(.optgroup) {
    padding-left: 1rem
}
.file-field {
    position: relative
}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px
}
.file-field input.file-path {
    width: 100%
}
.file-field .btn,
.file-field .btn-large {
    float: left;
    height: 3rem;
    line-height: 3rem
}
.file-field span {
    cursor: pointer
}
.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}
.range-field {
    position: relative
}
input[type=range],
input[type=range]+.thumb {
    cursor: pointer
}
input[type=range] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 15px 0px;
    padding: 0
}
input[type=range]+.thumb {
    position: absolute;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #ff4081;
    top: 10px;
    margin-left: -6px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
input[type=range]+.thumb .value {
    display: block;
    width: 30px;
    text-align: center;
    color: #ff4081;
    font-size: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
input[type=range]+.thumb.active {
    border-radius: 50% 50% 50% 0
}
input[type=range]+.thumb.active .value {
    color: #fff;
    margin-left: -1px;
    margin-top: 8px;
    font-size: 10px
}
input[type=range]:focus {
    outline: none
}
input[type=range] {
    -webkit-appearance: none
}
input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #c2c0c2;
    border: none
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ff4081;
    transform-origin: 50% 50%;
    margin: -5px 0 0 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc
}
input[type=range] {
    border: 1px solid white
}
input[type=range]::-moz-range-track {
    height: 3px;
    background: #ddd;
    border: none
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #ff4081;
    margin-top: -5px
}
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px
}
input[type=range]:focus::-moz-range-track {
    background: #ccc
}
input[type=range]::-ms-track {
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent
}
input[type=range]::-ms-fill-lower {
    background: #777
}
input[type=range]::-ms-fill-upper {
    background: #ddd
}
input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #ff4081
}
input[type=range]:focus::-ms-fill-lower {
    background: #888
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc
}
select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem
}
.table-of-contents.fixed {
    position: fixed
}
.table-of-contents li {
    padding: 2px 0
}
.table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: #757575;
    padding-left: 20px;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .4;
    display: inline-block
}
.table-of-contents a:hover {
    color: #a8a8a8;
    padding-left: 19px;
    border-left: 1px solid #ea4a4f
}
.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #ea4a4f
}
.side-nav {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: left
}
.side-nav.right-aligned {
    will-change: right;
    right: -105%;
    left: auto
}
.side-nav .collapsible {
    margin: 0
}
.side-nav li {
    float: none;
    padding: 0 15px
}
.side-nav li:hover,
.side-nav li.active {
    background-color: #ddd
}
.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 15px
}
.drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998
}
.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444
}
.side-nav.fixed {
    left: 0;
    position: fixed
}
.side-nav.fixed.right-aligned {
    right: 0;
    left: auto
}
@media only screen and (max-width: 992px) {
    .side-nav.fixed {
        left: -105%
    }
    .side-nav.fixed.right-aligned {
        right: -105%;
        left: auto
    }
}
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
    background-color: #00bcd4
}
.side-nav .collapsible-body li.active a,
.side-nav.fixed .collapsible-body li.active a {
    color: #fff
}
.side-nav.fixed.leftside-navigation .collapsible-body li.active>a {
    color: #00bcd4
}
ul.side-nav.leftside-navigation li.active>a {
    color: #00bcd4
}
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity
}
.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px
}
.preloader-wrapper.small {
    width: 36px;
    height: 36px
}
.preloader-wrapper.big {
    width: 64px;
    height: 64px
}
.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}
@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes container-rotate {
    to {
        transform: rotate(360deg)
    }
}
.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: #ff4081
}
.spinner-blue,
.spinner-blue-only {
    border-color: #4285f4
}
.spinner-red,
.spinner-red-only {
    border-color: #db4437
}
.spinner-yellow,
.spinner-yellow-only {
    border-color: #f4b400
}
.spinner-green,
.spinner-green-only {
    border-color: #0f9d58
}
.active .spinner-layer.spinner-blue {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-red {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-yellow {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer.spinner-green {
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .spinner-layer,
.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only,
.active .spinner-layer.spinner-green-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg)
    }
    to {
        -webkit-transform: rotate(1080deg)
    }
}
@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }
    25% {
        transform: rotate(270deg)
    }
    37.5% {
        transform: rotate(405deg)
    }
    50% {
        transform: rotate(540deg)
    }
    62.5% {
        transform: rotate(675deg)
    }
    75% {
        transform: rotate(810deg)
    }
    87.5% {
        transform: rotate(945deg)
    }
    to {
        transform: rotate(1080deg)
    }
}
@-webkit-keyframes blue-fade-in-out {
    from {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@keyframes blue-fade-in-out {
    from {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes red-fade-in-out {
    from {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
}
@keyframes red-fade-in-out {
    from {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
}
@-webkit-keyframes yellow-fade-in-out {
    from {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    76% {
        opacity: 0
    }
}
@keyframes yellow-fade-in-out {
    from {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    76% {
        opacity: 0
    }
}
@-webkit-keyframes green-fade-in-out {
    from {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes green-fade-in-out {
    from {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}
.gap-patch .circle {
    width: 1000%;
    left: -450%
}
.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}
.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}
.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg)
}
.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}
.active .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
.active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(130deg)
    }
}
@keyframes left-spin {
    from {
        transform: rotate(130deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    to {
        transform: rotate(130deg)
    }
}
@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg)
    }
    to {
        -webkit-transform: rotate(-130deg)
    }
}
@keyframes right-spin {
    from {
        transform: rotate(-130deg)
    }
    50% {
        transform: rotate(5deg)
    }
    to {
        transform: rotate(-130deg)
    }
}
#spinnerContainer.cooldown {
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1)
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
.slider {
    position: relative;
    height: 400px;
    width: 100%
}
.slider.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.slider.fullscreen ul.slides {
    height: 100%
}
.slider.fullscreen ul.indicators {
    z-index: 2;
    bottom: 30px
}
.slider .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 400px
}
.slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: inherit;
    overflow: hidden
}
.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center
}
.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    opacity: 0
}
.slider .slides li .caption p {
    color: #e0e0e0
}
.slider .slides li.active {
    z-index: 2
}
.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}
.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #e0e0e0;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 50%
}
.slider .indicators .indicator-item.active {
    background-color: #4CAF50
}
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 500px;
    -webkit-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0% 50%
}
.carousel .carousel-item {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0
}
.carousel .carousel-item img {
    width: 100%
}
.carousel.carousel-slider {
    top: 0;
    left: 0;
    height: 0
}
.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}
.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000000;
    position: absolute;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.picker__input {
    cursor: default
}
.picker__input.picker__input--active {
    border-color: #0089ec
}
.picker__holder {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}