<div id="typography" class="page-layout simple tabbed" fxLayout="column" perfect-scrollbar>

    <!-- HEADER -->
    <div class="md-header-bg p-24" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="secondary-text s-16">home</md-icon>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <span class="secondary-text">Bucket</span>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <span class="secondary-text">Practice Response</span>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tab-group md-dynamic-height="true">

            <md-tab label="Assigned Task">
                <smsf-assigned_task></smsf-assigned_task>

            </md-tab>

            <md-tab label="Internal Query">

                <smsf-internal_query></smsf-internal_query>

            </md-tab>

            <md-tab label="My Task">

                <smsf-my_task></smsf-my_task>

            </md-tab>

            <md-tab label="Practice Response">

                <smsf-total_practice_respone></smsf-total_practice_respone>

            </md-tab>


            <md-tab label="Unassign Task">
            <smsf-unassign_task></smsf-unassign_task>
            </md-tab>

        </md-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
