<div class="login-box">
  <div class="logo">
    <a href="javascript:void(0);"> <img src="../assets/images/logo.svg" alt="" width="250" height="40"></a>

  </div>
  <div class="card">
    <div class="body">
      <form id="sign_in" [formGroup]="frontendLoginForm" (ngSubmit)="submitForm(frontendLoginForm.value)">
        <div class="msg">Sign in to start your session</div>
        <div class="input-group" [ngClass]="{'has-danger': !_isValid('username')}">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
          <div class="form-line">
            <input type="text" class="form-control" name="username" placeholder="Username" autofocus [formControl]="frontendLoginForm.controls['username']" [ngClass]="{'form-control-danger': !_isValid('username')}">
            <span class="help-block help-block-error" *ngIf="!formErrors.username.valid">{{formErrors.username.message}}</span>
          </div>
        </div>
        <div class="input-group" [ngClass]="{'has-danger': !_isValid('password')}">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
          <div class="form-line">
            <input type="password" class="form-control" name="password" placeholder="Password" [formControl]="frontendLoginForm.controls['password']" [ngClass]="{'form-control-danger': !_isValid('password')}">
            <span class="help-block help-block-error" *ngIf="!formErrors.password.valid">{{formErrors.password.message}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 p-t-5">
            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-green">
            <label for="rememberme">Remember Me</label>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-block bg-green waves-effect" type="submit" [disabled]="!frontendLoginForm.valid || _submitted == true">SIGN IN</button>
            <div class="spinner mt-4" *ngIf="_submitted"></div>
          </div>
        </div>
        <div class="row m-t-15 m-b--20">
          <div class="col-xs-6">
            <a [routerLink]="['/frontend', 'dashboard']">Dashboard</a>
          </div>
          <div class="col-xs-6 align-right">
            <a [routerLink]="['/frontend', 'forgotpassword']">Forgot Password?</a>
          </div>
          <div class="col-xs-6 error-block mt-h">
            <div class="alert alert-danger">{{errorMessage}}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>