<div class="page">
  <div class="page-content">
    <div class="page-brand-info">
      <div class="brand">
        <img class="brand-img" src="../../../../assets/images/logo.svg" alt="..." width="300">
      </div>
      <p class="font-size-20">At Super Records, we believe that outsourcing should be as quick & easy as plugging in an extension. Our service model is built on the pillars of flexibility, reliability and accountability.</p>
    </div>
    <div class="page-login-main">
      <div class="brand visible-xs">
        <img class="brand-img" src="../../../../assets/images/logo.svg" alt="..." width="300">
        <h3 class="brand-text font-size-40">SuperRecords</h3>
      </div>
      <h3 class="font-size-24">Sign In</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <form [formGroup]="frontendLoginForm" (ngSubmit)="onSubmit(frontendLoginForm.value)">
        <div class="form-group form-material floating"  [ngClass]="{'has-danger': !_isValid('username')}">
          <input type="username" class="form-control empty" id="inputEmail" name="username" [formControl]="frontendLoginForm.controls['username']" [ngClass]="{'form-control-danger': !_isValid('username')}">
          <label class="floating-label" for="inputEmail">Email</label>
          <span class="help-block help-block-error" *ngIf="!formErrors.username.valid">{{formErrors.username.message}}</span>
        </div>
        <div class="form-group form-material floating" [ngClass]="{'has-danger': !_isValid('password')}">
          <input type="password" class="form-control empty" id="inputPassword" name="password" [formControl]="frontendLoginForm.controls['password']" [ngClass]="{'form-control-danger': !_isValid('password')}">
          <label class="floating-label" for="inputPassword">Password</label>
          <span class="help-block help-block-error" *ngIf="!formErrors.password.valid">{{formErrors.password.message}}</span>

        </div>
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
            <input type="checkbox" id="remember" name="checkbox">
            <label>Remember me</label>
          </div>
          <a class="pull-right" [routerLink]="['/frontend', 'forgotpassword']">Forgot password?</a><br/>
          <a class="pull-right" [routerLink]="['/frontend', 'dashboard']">Dashboard</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!frontendLoginForm.valid || _submitted == true">Sign in</button>
        <div class="spinner mt-4" *ngIf="submitted"></div>
        <div *ngIf="errorMessage" class="col-xs-12 error-block mt-h">
          <div class="alert alert-danger">{{errorMessage}}</div>
        </div>
      </form>
      <footer class="page-copyright">
        <p>PORTAL BY Superrecords</p>
        <p>© 2017. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
</div>