<div class="cyan loaded">

<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <form class="login-form"  [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <div class="row">
        <div class="input-field col s12 center">
          <img src="../assets/images/logo.svg" alt="" width="250" height="40">
          <p class="center login-form-text">Fontend Layout</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12" [ngClass]="{'has-error':!form.controls['username'].valid &&  form.controls['username'].touched}">
          <i class="mdi-social-person-outline prefix"></i>
          <input id="username" type="text" [formControl]="form.controls['username']">
          <label for="username" class="center-align">Username</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12" [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="password" type="password" [formControl]="form.controls['password']">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Remember me</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light col s12" [disabled]="!form.valid">Login</button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">

        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a href="" [routerLink]="['/forgotpassword']" [queryParams]="{debug: true}">Forgot password ?</a></p>
        </div>
      </div>

    </form>
  </div>
</div>

</div>



<!--

<div  class="container">
    <div class="row text-align-center margin-top-40px" >
        <div class="sr-margin-auto " > <span><img src="../assets/images/sr-logo-login.png" class="margin-bottom-20px"/></span>
            <div class="login-box clearfix animated margin-top-25px  flipInY sr-margin-auto">
                <h2 class="padding-20px padding-top-30px">ADMIN LOGIN</h2>
                <div class=" container-fluid sr-login-center">
                    <form class="sr-form-horizontal" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
                        <div class="form-group padding-bottom-10px" [ngClass]="{'has-error':!form.controls['username'].valid &&  form.controls['username'].touched}">
                            <div class="input-group">
                                <div class="input-group-addon sr-bg-white-colour icon-sr-icons-client-1"></div>
                                <input class="form-control sr-form-control" type="email" name="username" placeholder="Username" [formControl]="form.controls['username']">

                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
                            <div class="input-group">
                                <div class="input-group-addon sr-bg-white-colour icon-sr-icons-password"></div>
                                <input class="form-control sr-form-control" type="email" name="password" placeholder="**********" [formControl]="form.controls['password']">
                            </div>
                        </div>
                        <button type="submit" name="submit"
                                [disabled]="!form.valid" class="btn btn-block  sr-btn-md sr-btn-primary">Login</button>
                    </form>
                    <h4>
                        <input type="checkbox" class="checkbox left"  autocomplete="off">
                        Remember my username</h4>
                    <div class="clearfix"></div>
                    <h4 class="padding-top-30px"><a href="#" data-target=".bs-example-modal-sm" data-toggle="modal">Forgot Password?</a></h4>
                </div>
            </div>
            <div class="container-fluid sr-margin-auto">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padding-left-zero padding-right-zero">
                    <div class="margin-top-20px ">
                        <p class="login-text"><span> &copy; 2014 Super Records |<a href="#"> www.superrecords.com.au</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->