<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
        <div class="page-brand-info">
            <div class="brand">
                <img class="brand-img" src="../../../../assets/images/logo.svg" alt="..." width="300">
            </div>
            <p class="font-size-20">At Super Records, we believe that outsourcing should be as quick & easy as plugging in an extension. Our service model is built on the pillars of flexibility, reliability and accountability.</p>
        </div>
        <div class="page-login-main">
            <div class="brand visible-xs">
                <img class="brand-img" src="../assets/images/logo-blue%402x.png" alt="...">
                <h3 class="brand-text font-size-40">SuperRecords</h3>
            </div>
            <h3 class="font-size-24">Forgot Password</h3>
            <p> Enter your email address that you used to register.<br/> We'll send you an email with your username and a<br/>
                link to reset your password.</p>
            <form [formGroup]="form">
                <div class="form-group form-material floating">
                    <input type="email" class="form-control empty" id="inputEmail" name="email">
                    <label class="floating-label" for="inputEmail">Email</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Your Password</button>
                <div class="form-group clearfix">
                    <a class="pull-right" [routerLink]="['/frontend', 'frontendlogin']">Sign In!</a>
                </div>
            </form>
            <footer class="page-copyright">
                <p>PORTAL BY Superrecords</p>
                <p>© 2017. All RIGHT RESERVED.</p>
                <div class="social">
                    <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
                        <i class="icon bd-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>
</div>